<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- 이렇게 하면 주석 -->

<!DOCTYPE html>
<html lang = "en">

<h3>보유주식</h3>
<table class="table table-dark companytable" style=" margin-top: 50px;">
  <thead>
    <tr>
      <th scope="col">종목코드</th>
      <th scope="col">매수주식수</th>
      <th scope="col">매수가</th>
      <th scope="col">매수일</th>
      <th scope="col">매도주식수</th>
      <th scope="col">매도가</th>
      <th scope="col">매도일</th>
    </tr>
  </thead>
  <tbody>
	{% for user in ownstocks<!--플라스크에서 쓰이던 for문 법--> %}
	    <tr>
		    <td><a>{{ 보유주식['종목코드'] }}</a></td>
		    <td><a>{{ 보유주식['매수주식수'] }}</a></td>
		    <td><a>{{ 보유주식['매수가'] }}</a></td>
		    <td><a>{{ 보유주식['매수일'] }}</a></td>
		    <td><a>{{ 보유주식['매도주식수'] }}</a></td>
		    <td><a>{{ 보유주식['매도가'] }}</a></td>
		    <td><a>{{ 보유주식['매도일'] }}</a></td>
		    <td>{{ 관심종목['상장주식수'] }}</td>
	    </tr>
	{% endfor %}
  </tbody>
</table>
</html>